{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
