<template>
    <div>
        <div class="title">
            Connect Four
        </div>
        <message :color="color" :message="message"></message>
        <div class="board">
            <board :board="board" :your-turn="yourTurn"></board>
        </div>
    </div>
</template>

<script>
import Board from './components/Board'
import Message from './components/Message'
export default {
    data: () => ({
        board: Array(7).fill(0).map(x=> Array(6).fill('white')),
        message: 'Waiting for another player...',
        yourTurn: false,
        color: null
    }),
    methods: {
        procesMessage(message) {
            if (message.hasOwnProperty('color')) {
                this.color = message['color']
            }
            if (message.hasOwnProperty('turn')) {
                const player = message['turn']
                if (player === this.color) {
                    this.message = "You're up. What's your move?"
                    this.yourTurn = true
                }
                else {
                    this.message = player + " is thinking..."
                    this.yourTurn = false
                }
            }
            if (message.hasOwnProperty('board')) {
                this.board = message['board']
            }
            if (message.hasOwnProperty('victory')) {
                const winner = message['victory']
                if (winner === this.color) {
                    this.message = 'You win!'
                }
                else {
                    this.message = 'You lose!'
                }
            }
        }
    },
    mounted: function() {
        const self = this
        this.$options.sockets.onmessage = (data) => {
            const message=JSON.parse(data.data)
            self.procesMessage(message)
        }
    },
    components: {
        Board,
        Message
    }
}
</script>
<style lang="css" scoped>
  * {
    font-family: Arial;
    font-size: 1.2em;
}
.title {
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
.message {
    background-color: black;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.board {
    margin-top: 30px;
    text-align: center;
}
</style>
