<template>
    <g>
        <g v-for="(columnData, idx) in data"
            :style="style">
            <rect :x="20 + column * 50"
                  :y="idx * 50"
                  width="50"
                  height="50"
                  fill='blue'>
            </rect>
            <circle :cx="20 + 24 + column * 50"
                    :cy="24 + idx * 50"
                    r="15"
                    :fill="columnData">
            </circle>
        </g>
    </g>
</template>
<script>
export default {
    name: 'BoardColumn',
    props: {
        data: {},
        column: 0,
        yourTurn: false
    },
    computed: {
        style() {
            return {cursor: this.yourTurn ? 'pointer' : 'no-drop'}
        }
    },
}
</script>
