<template>
    <div>
        <svg width="390" height="360" xmlns="http://www.w3.org/2000/svg">
            <board-column v-for="(columnData, idx) in board"
                @click.native="onColumnClick(idx)"
                :data="columnData"
                :your-turn="yourTurn"
                :column="idx">
            </board-column>
            <polygon points="20,300 0,360 390, 360 370, 300" fill="blue" />
        </svg>
    </div>
</template>

<script>
import BoardColumn from './BoardColumn'

export default {
    name: 'Board',
    props: {
        board: {},
        yourTurn: false
    },
    methods: {
      onColumnClick: function(column) {
        this.$socket.sendObj({'click': column})
      }
    },
    components: {
        BoardColumn
    },
}
</script>
